/* INICIO BLADE MARCAS */

body{
  font-family     : 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif;
  background-color: #F0F8FF;
}

header {
      background-color: #333;
      color: #fff;
      padding: 20px;
      text-align: center;
  }

  /* Estilos para o título */
  h1 {
      margin: 0;
  }

  /* Estilos para a descrição */
  p {
      margin: 5px 0 0 0;
  }

  .formMarca{
      display: flex;
      justify-content : center;
      margin-top      : 2%;
      padding         : 2%;
      margin-left     : 30%;
      margin-right    : 30%;
      border-radius   : 10px 5% / 20px 30px;
      background-color: darkgray;
  }


  .inputMarca{
      display: grid;
      align-items: center;
      justify-content: center;
  }

  /* FIM BLADE MARCAS */
